.underlined {
    text-decoration: underline;
    color: #eeeeee;
    text-decoration-color: #cccccc;
}

* {
    background-color: black;
    color: lightgray;
}

html {
    color: lightgray;
    font-size: 13pt;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.15;
}

code {
    font-size: 12pt;
    font-family: monospace;
}
